$bebas-light: "bebas_neuelight";
$bebas: "bebas_neuebook";

@font-face {
  font-family: 'pt_sansregular';
  src: url('PTS55F-webfont.eot');
  src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
       url('PTS55F-webfont.woff') format('woff'),
       url('PTS55F-webfont.ttf') format('truetype'),
       url('PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sinkin_sans500_medium';
  src: url('SinkinSans-500Medium-webfont.eot');
  src: url('SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('SinkinSans-500Medium-webfont.woff') format('woff'),
       url('SinkinSans-500Medium-webfont.ttf') format('truetype'),
       url('SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}


body {
  color: #6C6C6C;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}


.escala-de-notas {
  font-family: 'sinkin_sans500_medium';
  float:left;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-left: 29px;
    color: #EA5929;
  }

  span {
    font-size: 10px;
    text-align: right;
    display: block;
    padding-right: 30px;
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
}

.half {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  font-size: 12px;

  &:first-child {
    width: 29%;
  }

}


.title {
  h1 {
    font-size: 45px;
    font-family: $bebas;
    text-align: center;
    margin-bottom: 10px;
  }

  span {
    font-size: 14px;
  }

  #autor {
    text-align: center;
  }
}

header {
  font-size: 0;
  padding: 15px 0px;
  overflow: hidden;
  padding-bottom: 20px;
}

.none {
  display: none;
}

#formulario {
  font-size: 13px;
  font-family: 'pt_sansregular';
  padding-left: 10%;
  padding-top: 7px;

  & > div {
    position:relative;
    height: 45px;
    input {
      width: 220px;
      height: 35px;
      padding-left: 160px;
      font-size: 14px;
      border: 2px solid rgb(214,214,214);
      box-shadow: 3px 3px 0px rgba(0,0,0,0.09);
      color: #B6B2AC;
    }

    label:not(.radios) {
      position: absolute;
      left: 10px;
      top: 8px;
      font-size: 14px;
      color: #4D4D4D;

      i {
        margin-right: 10px;
        color: #4D4D4D;
      }
    }
  }
}

#autor {
  font-family: 'pt_sansregular';
}

#redes-sociales {
  margin: 0 auto;
  float: right;
  position: relative;
  top: 5px;

  div, iframe {
    margin: 0 5px;
    display: inline-block;
    vertical-align: top;
  }
}

.escala {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  font-family:'pt_sansregular'; 
  font-size: 14px;
  margin: 0 10px;
  margin-bottom: 30px;

  & tr th {
    color: #FFFFFF;
    width: 80px;
    text-align: left;
    background-color: #308CD8;
  }

  & tr th, & tr td {
    padding-left: 10px;
  }

  & tr {

  }

  & tr td {
    font-size: 14px;
  }

  .odd {
    background-color: #f8f8f8;
  }
}

.generar-tabla, .descargar-planilla {
  #boton-generar, #boton-descargar {
    background-color: #FE6030;
    color: #fffffe;
    padding-left: 0;
    border: 0;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}

.descargar-planilla {
  #boton-descargar {
    background-color: #77cc33;
  } 
}

#orden {
  margin-bottom: 10px;

  .radios {
    border-radius: 0;
  }
}

#formulario > #contacto {
  height: auto ; 
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .escala-de-notas {
    h1 {
      width: 100%;
    }
  }

  .half {
    width: 59%;
    &:first-child {
      width: 40%;
    }
  }
}



@media only screen and (max-width: 678px) {
  #redes-sociales {
    width: 50%;
  }

  .half {
    width: 59%;
    &:first-child {
      width: 40%;
    }
  }

}


@media only screen and (max-width: 480px) {
  .container {
    padding: 0;
    width: 100%;
  }

  .escala-de-notas {
    width: 100%;
    padding: 10px 0;
    h1 {
      width: 100%;
      text-align: center;
      display: block;
      margin-left: 0;
    }
  }

  .half {
    width: 100%;

    &:first-child {
      width: 100%;
    }
  }

  #redes-sociales {
    display: none;

    div, iframe {
      margin: 0 5px;
      display: inline-block;
      vertical-align: top;
    }
  }

  #formulario {
    width: 280px;
    margin: 0 auto;
    padding-left: 0;

    div > input {
      width: 100%;
      padding-left: 220px;
    }
  }

  #header {
    margin: 0;
    padding: 0;
  }

  .escala {
    width: 100%;
    margin-left: 0;
    padding: 0 25px;
  }

  #orden {
    .radios {
      width: 50%;
    }
  }

  #contacto {
    margin: 10px;
    p {
      margin: 3px 0;
    }
  }


}

