a {
  text-decoration:none;
  color:inherit;
}

#header {
  background: whiteSmoke;
  border-bottom: 1px solid #E5E5E5;
  -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  font-size:22px;
  font-weight: bold;
  padding:8px 10px;
  margin:0;
  height:34px;
  line-height:34px;
}

#redes-sociales {
  float:right;
  margin-top:9px;
}

.fb-like, .twitter-share-button, .g-plusone, #___plusone_0 {
  float:left;
}

#autor {
  font-size:12px;
  color:#777;
  margin-left:10px;
}

h1 {
  font-size:22px;
}

.check {
  float:left;
  margin-right: 10px;
}

#formulario {
  padding:15px 10px 0 10px;
  display: table-cell;
  vertical-align: top;
  width:160px;
  background: #ddd;
  height:100%;
  border-bottom-right-radius:3px;
}

#formulario table {
  font-size:13px;
}

#formulario input[type=text] {
  border:0;
  text-align: right;
  width:45px;
  font-size:13px;
  font-family: arial, sans-serif;
  border-radius:3px;
  padding:4px;
}

#formulario table td:first-child {
  padding-right: 10px;
}

#formulario input[type=submit] {
  font-family: arial, sans-serif;
  background:#999;
  border:0;
  border-radius: 4px;
  color:white;
  cursor:pointer;
  padding:6px;
  font-weight: bold;
  font-size: 12px;
}

#main {
  display:table-cell;
  width:60%;
  vertical-align: top;
  padding:10px;
}

#main table {
  float:left;
  border-collapse: collapse;
  margin:10px;
  font-size:13px;
}

#main table tr.odd {
  background: #eee;
}

#main table tr.even {
  background: #fff;
}

#main table td, #main table th{
  padding:3px;
  border-right:1px solid white;
  width:50px;
  text-align:center;
}

#main table th {
  background-color:#999;
  color:white;
  font-weight:bold;
}

.rojo {
  color:red;
}

body
{
  font-family: arial, sans-serif;
  margin:0px;
}

#app_store_link {
  display:table-cell;
  visibility: hidden;
  vertical-align: top;
  padding: 30px 0 0 20px;
}

